.checkbox-root[data-variant] {
  display: flex;
  align-items: center;
  gap: calc(8px * var(--lcs-spacing, 1));
  cursor: pointer;

  &[data-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:has(.checkbox-label[data-position="top"]) {
    flex-direction: column-reverse;
    align-items: start;
  }

  &:has(.checkbox-label[data-position="bottom"]) {
    flex-direction: column;
    align-items: start;
  }

  &:has(.checkbox-label[data-position="right"]) {
    flex-direction: row-reverse;
  }
}
