.checkbox-root[data-variant] {
  display: flex;
  flex-direction: row;
  gap: calc(12px * var(--lcs-spacing, 1));
  cursor: pointer;

  &:not([data-align]) {
    align-items: center;
  }

  &[data-disabled="true"],
  &[data-readonly="true"] {
    cursor: not-allowed !important;
  }

  &[data-disabled="true"] {
    opacity: 0.6;
  }

  &:has(.checkbox-label[data-position="top"]) {
    flex-direction: column-reverse;
    align-items: start;
  }

  &:has(.checkbox-label[data-position="bottom"]) {
    flex-direction: column;
    align-items: start;
  }

  &:has(.checkbox-label[data-position="right"]) {
    flex-direction: row-reverse;
  }
}
