.checkbox-indicator[data-variant] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: calc(20px * var(--lcs-spacing, 1));
  width: calc(20px * var(--lcs-spacing, 1));
  height: calc(20px * var(--lcs-spacing, 1));
  border: 1px solid transparent;
  border-radius: max(5px, var(--lcs-radius, 0px));
  overflow: hidden;
  transition: background-color 100ms, border-color 100ms;

  /* Sizes */
  &[data-size="xs"] {
    min-width: calc(12px * var(--lcs-spacing, 1));
    width: calc(12px * var(--lcs-spacing, 1));
    height: calc(12px * var(--lcs-spacing, 1));
    border-radius: max(4px, var(--lcs-radius, 0px));
  }
  &[data-size="sm"] {
    min-width: calc(16px * var(--lcs-spacing, 1));
    width: calc(16px * var(--lcs-spacing, 1));
    height: calc(16px * var(--lcs-spacing, 1));
    border-radius: max(5px, var(--lcs-radius, 0px));
  }
  &[data-size="lg"] {
    min-width: calc(24px * var(--lcs-spacing, 1));
    width: calc(24px * var(--lcs-spacing, 1));
    height: calc(24px * var(--lcs-spacing, 1));
    border-radius: max(6px, var(--lcs-radius, 0px));
  }
  &[data-size="xl"] {
    min-width: calc(32px * var(--lcs-spacing, 1));
    width: calc(32px * var(--lcs-spacing, 1));
    height: calc(32px * var(--lcs-spacing, 1));
    border-radius: max(8px, var(--lcs-radius, 0px));
  }
  &.size {
    width: var(--custom-size);
    height: var(--custom-size);
    border-radius: calc(var(--custom-size) / 4);
  }

  /* Disabled and Readonly */
  &[data-disabled="true"],
  &[data-readonly="true"] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  /* Solid variant */
  &[data-variant="solid"] {
    &:not([data-checked="true"]) {
      background-color: rgba(var(--background-color-2), 0.8);
    }

    &[data-checked="true"],
    &[data-indeterminate="true"] {
      background-color: rgb(var(--primary));
    }

    &[data-hovered="true"]:not([data-disabled="true"], [data-readonly="true"]) {
      background-color: rgba(var(--primary), 0.7);
    }

    &:focus:not([data-disabled="true"], [data-readonly="true"]) {
      outline: 1px solid rgba(var(--primary), 1);
      background-color: rgba(var(--primary), 0.7);
    }

    &[data-checked="true"][data-high-contrast="true"],
    &[data-indeterminate="true"][data-high-contrast="true"] {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: white;
        z-index: 0;
      }

      & > * {
        z-index: 1;
        position: relative;
        background-color: rgba(var(--primary), 0.2);
      }
    }
  }

  /* Outlined variant */
  &[data-variant="outlined"] {
    background-color: rgba(var(--background-color-2), 0.8);

    &:not([data-checked="true"]) {
      border-color: rgb(var(--border-color));

      & > svg > path {
        fill: rgb(var(--primary));
      }
    }

    &[data-checked="true"],
    &[data-indeterminate="true"] {
      border-color: rgb(var(--primary));
    }

    &[data-hovered="true"]:not([data-disabled="true"], [data-readonly="true"]) {
      border-color: rgba(var(--primary-dark), 0.7);
    }

    &:focus:not([data-disabled="true"], [data-readonly="true"]) {
      outline: 1px solid rgba(var(--primary), 0.9);
      border-color: rgba(var(--primary-dark), 0.7);
    }
  }

  &[data-variant="muted"] {
    background-color: rgba(var(--background-color-2), 0.6);

    &[data-checked="true"],
    &[data-indeterminate="true"] {
      background-color: rgba(var(--primary), 0.4);

      & > svg > path {
        fill: rgb(var(--primary));
      }
    }

    &[data-hovered="true"]:not([data-disabled="true"], [data-readonly="true"]) {
      background-color: rgba(var(--primary), 0.2);
    }

    &:focus:not([data-disabled="true"], [data-readonly="true"]) {
      outline: 1px solid rgba(var(--primary), 0.6);
      background-color: rgba(var(--primary), 0.2);
    }
  }
}
