[data-appearance="light"] {
  --primary: 247, 143, 25;
  --primary-dark: 201, 108, 2;
  --primary-light: 252, 160, 56;

  --text-color: 30, 30, 30;
  --text-color-disabled: 14, 14, 14;

  --background-color-1: 218, 217, 217;
  --background-color-2: 186, 186, 186;
  --background-color-3: 154, 154, 154;

  --border-color: 65, 65, 65;
}

[data-appearance="dark"] {
  --primary: 247, 143, 25;
  --primary-dark: 201, 108, 2;
  --primary-light: 252, 160, 56;

  --text-color: 238, 238, 238;
  --text-color-disabled: 144, 144, 144;

  --background-color-1: 24, 24, 24;
  --background-color-2: 48, 48, 48;
  --background-color-3: 72, 72, 72;

  --border-color: 156, 156, 156;
}
